@(event: Event)
<!-- Begin individual card -->

    <div class="card">
        <a href="#">
            <img src="@routes.Assets.at("images/events/ecstatic_dance_dec.png")" class="card-img-top">
            <div class="card-body p-4">
                <h5>@event.getTitle</h5>
                    <!-- Begin row for date and time -->
                <div class="row">
                        <!-- Begin date -->
                    <div class="col-md-6 mb-2">
                        <div class="row">
                            <div class="col-2">
                                <img src="@routes.Assets.at("images/icons/calendar.png")" class="icon-calendar">
                            </div>
                            <div class="col-10"><p><b>@event.getStartTime</b></p></div>
                        </div>
                    </div>
                        <!-- End date -->
                        <!-- Begin time -->
                    <div class="col-md-6 mb-2">
                        <div class="row">
                            <div class="col-2">
                                <img src="@routes.Assets.at("images/icons/clock.png")" class="icon-clock">
                            </div>
                            <div class="col-10"><p><b>@event.getStartTime</b></p></div>
                        </div>
                    </div>
                        <!-- End time -->
                </div>
                    <!-- End row for date and time -->
                    <!-- Begin row for location -->
                <div class="row mb-2">
                    <div class="col-2 h-100">
                        <img src="@routes.Assets.at("images/icons/location.png")" width="20px" height="20px">
                    </div>
                    <div class="col-10">
                        <p>@event.getVenue.getName</p>
                    </div>
                </div>
                    <!-- End row for location -->
                    <!-- Begin row for company -->
                <div class="row">
                    <div class="col-2 h-100">
                        <img src="@routes.Assets.at("images/icons/group.png")" width="20px" height="20px">
                    </div>
                    <div class="col-10">
                        <p>@event.getCompany.getName</p>
                    </div>
                </div>
                    <!-- End row for company -->
            </div>
        </a>
    </div>

    <!-- End individual card -->