/*Begin: fix the navbar to top */
/*The sticky class is added to the header with JS when it reaches its scroll position */
/*.sticky {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/
/*!* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) *!*/
/*.sticky + .content {*/
/*    padding-top: 83px;*/
/*}*/

/*.content {*/
/*    padding-top: 80px;*/
/*}  */
/* End: fix the navbar to top */

.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}


.form-lightgray {
    background-color: var(--searchbar);
    color: #C9C9C9;
    border: none;
    outline: none;
}

.form-lightgray:hover {
    background-color: var(--searchbar);
    color: #C9C9C9;
    border: none;
    outline: none;
}

.lightgray:active {
    background-color: var(--searchbar);
    border: none;
    outline: none;
}

.btn-green {
    color: #343642;
    background-color: #70A9A1;
    border-radius: 4px;
    padding: 3px 25px 4px 25px;
    box-shadow: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-green:hover {
    color: #343642;
    background-color: #70A9A1;
}

.text-gray {
    color: #9B9B9B;
}

.text-lightgray {
    color: #CDCDCD;
}

.text-muted {
    color: #9B9B9B;
}

.bg-gray {
    background-color: #343642;
    color: #C9C9C9;
    border: none;
    outline: none;
}

.bg-gray:hover {
    background-color: #343642;
    color: #C9C9C9;
}

.content {
    padding-top: 70px;
}