.card-body {
    padding-left: 40px;
    padding-top: 20px;
}

.review {
    border: 1px solid var(--my-gray);
    padding: 20px 30px;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

.input-no-border {
    border: none;
    font-size: 20px;
}

.input-no-border:focus {
    border: none;
    color: black;
    box-shadow: none;
}

.input-no-border:active {
    border: none;
    color: black;
    box-shadow: none;
}

/*.button-outline {*/
/*    padding: 6px 30px;*/
/*}*/

/*.button-outline-red {*/
/*    border-color: var(--my-red);*/
/*    font-size: 17px;*/
/*    color: var(--my-red);*/
/*}*/

/*.button-outline-red:hover {*/
/*    border-color: var(--my-red);*/
/*    background-color: var(--my-red);*/
/*    font-weight: normal;*/
/*    color: white;*/
/*}*/