@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');


body {
    font-family: 'Noto Sans', sans-serif;
    color: #4D4F5B
}

/* Begin font formatting */

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 19px;
    color: #4D4F5B;
}

h4 {
    font-size: 28px;
    font-weight: bold;
    color: #4D4F5B;
}

h5 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #70A9A1;
}

p > a {
    color: #B01A1A;
    font-weight: bold;
    transition: 0.3s;
}

p > a:hover {
    color: #40798C;
    font-weight: bold;
}

/* End font formatting */

/* Begin form stylization */

label {
    font-size: 14px;
}
/* End form stylization*/

.dark {

}

a {
    text-decoration: none;
}

.image-container > a > img {
    border-radius: 8px;
}

.form-control:focus {
    box-shadow: none;
}

.card {
    padding: 0;
    /*width: 300px;*/
}

.card-text {

}

/* Begin icon formatting */
.icon-calendar {
    width: 16px;
    height: 18px;
}

.icon-clock {
    width: 19px;
    height: 18px;
}
/* End icon formatting */

/* Begin button stylization */

.button {
    border-style: solid;
}

.button-fill {
    padding: 6px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 3px 2px 0px #c5c5c5;
}

.button-fill-blue {
    font-size: 17px;
    color: white;
    background-color: #40798C;
}


.button-outline {
    border-width: 2px;
    font-weight: bold;
    border-radius: 7px;
    transition: 0.2s;
}

.button-outline-blue {
    border-color: #40798C;
    font-size: 20px;
    color: #40798C;
    padding: 5px 110px;

}
.button-outline-blue:hover {
    border-color: #40798C;
    background-color: #40798C;
    font-weight: normal;
    color: white;
}

/* End button stylization */