@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

:root {
    --my-gray: #4D4F5B;
    --my-green: #70A9A1;
    --my-red: #B01A1A;
    --my-blue: #40798C;
}

body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--my-gray);
}

/* Begin font formatting */

p, h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: var(--my-green);
    font-weight: bold;
    font-size: 53px;
    text-shadow: 1px 2px 2px #c5c5c5;
}

h2 {
    color: var(--my-green);
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 2px 2px #c5c5c5;
}

h4 {
    font-size: 28px;
    font-weight: bold;
    color: var(--my-gray);
}

h5 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--my-green);
}

h6 {
    font-size: 20px;
    font-weight: bold;
    color: var(--my-gray);
    padding-top: 48px;
    padding-bottom: 16px;
}

p {
    font-size: 17px;
    color: var(--my-gray);
}

p > a {
    color: var(--my-red);
    font-weight: bold;
    transition: 0.3s;
}

p > a:hover {
    color: rgb(138, 21, 21);
    font-weight: bold;
}

/* End font formatting */

/* Begin form stylization */

label {
    font-size: 14px;
}
/* End form stylization*/

.dark {

}

a {
    text-decoration: none;
}

.image-container > a > img {
    border-radius: 8px;
}

.form-control:focus {
    box-shadow: none;
}

/*.form-control {*/
/*    border: 1px solid var(--my-gray);*/

/*}*/

.card {
    padding: 0;
    /*width: 300px;*/
}

.card-text {

}

/* Begin icon formatting */
.icon-calendar {
    width: 16px;
    height: 18px;
}

.icon-clock {
    width: 19px;
    height: 18px;
}
/* End icon formatting */

/* Begin button stylization */

.button {
    border-style: solid;
}

.button-fill {
    padding: 6px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 3px 2px 0px #c5c5c5;
}

.button-fill-blue {
    font-size: 17px;
    color: white;
    background-color: var(--my-blue);
}

.button-fill-red {
    font-size: 17px;
    color: white;
    background-color: var(--my-red);
}


.button-outline {
    border-width: 2px;
    font-weight: bold;
    border-radius: 7px;
    transition: 0.2s;
}

.button-outline-blue {
    border-color: var(--my-blue);
    font-size: 20px;
    color: var(--my-blue);
    padding: 5px 110px;

}
.button-outline-blue:hover {
    border-color: var(--my-blue);
    background-color: var(--my-blue);
    font-weight: normal;
    color: white;
}

.button-outline-red {
    border-color: var(--my-red);
    font-size: 24px;
    color: var(--my-red);
    padding: 3px 140px;

}
.button-outline-red:hover {
    border-color: var(--my-red);
    background-color: var(--my-red);
    font-weight: normal;
    color: white;
}

/* End button stylization */

hr {
    width: 75px;
    border-top: 6px solid var(--my-green);
    opacity: 1;
    box-shadow: 1px 2px 2px #c5c5c5;
}