@(title: String, request: play.mvc.Http.Request)(pathList: Array[String])(content: Html)
@import java.time.LocalDate
@defining(LocalDate.now.getYear) { year =>

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>@title :: EventHub</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/global.css")">
            <link rel="stylesheet" href="@routes.Assets.at("stylesheets/base.css")">
            @for(path <- pathList) {
                <link rel="stylesheet" href="@routes.Assets.at(path)">
                }
        </head>

        <body>
            <header class="header-menu">
                    <!-- Begin navbar -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-gray px-3 header" id="myHeader">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="@routes.HomeController.home()"><img src="@routes.Assets.at("images/navbar/logo.png")" class="img-fluid" alt="logo" width="232px"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                            <!-- Begin collapsable content -->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <!-- Begin centered content -->

                            <div class="container-fluid p-0">
                                <div class="row row-col-lg-2">
                                        <!-- Begin event searchbar -->
                                    <div class="col-lg-5 mt-2 mt-lg-0 mx-auto">
                                        <a href="@routes.EventController.search()" style="cursor: text">
                                        <div class="d-flex align-items-center form-control form-lightgray">
                                        <img src="@routes.Assets.at("images/icons/search.png")" width="15px">
                                            <p style="color: #9B9B9B" class="d-inline-flex ms-3">Search events</p>
                                    </div>
                                    </a>

                                    @* <form class="d-flex">*@
                                    @*  <input class="form-control me-2 form-lightgray" type="search" placeholder="Search events" aria-label="Search">*@
                                    @*</form>*@

                                </div>
                                <div class="col-lg-4 mt-3 mt-lg-0 d-flex justify-content-lg-end">
                                    @*<ul class="navbar-nav ms-auto">
                                    <li class="nav-item mt-1 me-2">
                                    <a href="#">
                                    <img src="@routes.Assets.at("images/navbar/tickets.png")" class="img-fluid" alt="Tickets" width="38px">

                                    </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="@routes.Assets.at("images/navbar/user.png")" class="img-fluid" alt="Account" width="30px">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end bg-gray text-gray" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-gray" href="#">Account details</a></li>
                                    <li><a class="dropdown-item text-gray" href="#">Switch profile</a></li>
                                    <li><a class="dropdown-item text-gray" href="#">Log out</a></li>
                                    </ul>
                                    </li>
                                    </ul>*@
                                    <!-- Sign in button only shows if session contains no id -->
                                    @if(request.session().get("id").isEmpty){
                                        <a href="@routes.AuthenticationController.signIn()">
                                            <div class="button button-fill-no-shadow button-fill-green">Sign In</div>
                                        </a>
                                    }
                                    @if(request.session().get("role_id").toString() == "1"){
                                        <div class="pt-1">
                                            <img src="@routes.Assets.at("images/navbar/tickets.png")" class="img-fluid" alt="Tickets" width="34px">
                                        </div>
                                    }

                                    @* André starting *@
                                    <div class="dropdown ms-2">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="@routes.Assets.at("images/icons/settings.png")" class="img-fluid" alt="settings" width="30px">
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-lg-end text-center p-2 bg-gray" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item text-lightgray" href="#">Language</a>
@*//                                            @if(UserRole.getListOfRolesOfUser(User.getUserById(Long.parseLong(request.session().get("id").toString))).size()>1){*@
@*//                            Only show "Switch Profile" if user has more than one role                    *@
@*//*@
@*//                                            }*@
                                            <a class="dropdown-item text-lightgray" href="@routes.AuthenticationController.switchProfile()">Switch Profile</a>
                                            <a class="dropdown-item text-lightgray" href="#">Help</a>
                                            <a class="dropdown-item text-lightgray" href="#">Terms of Use</a>
                                            <a class="dropdown-item text-lightgray" href="#">Privacy Policy</a>
                                            @if(!request.session().get("id").isEmpty){
                                                <form method="post" action="@controllers.routes.AuthenticationController.logoutProcess()">
                                                    @helper.CSRF.formField(request.asScala)
                                                    <button type="submit" class="button button-fill-no-shadow button-fill-green">Logout</button>
                                                </form>
                                            }
@*                                            <a class="dropdown-item text-lightgray" href="@routes.AuthenticationController.logoutProcess()">Logout</a>*@
                                        </div>
                                    </div>
                                    @* André ending*@

                                </div>
                                    <!-- End event searchbar -->
                                    <!-- Begin location searchbar -->
                                @*                                <div class="col-lg-6">*@
                                @*                                    <form class="d-flex">*@
                                @*                                        <input class="form-control me-2 bg-gray" type="search" placeholder="Search location" aria-label="Search">*@
                                @*                                    </form>*@
                                @*                                        <!-- End location searchbar -->*@

                                @*                                </div>*@
                            </div>
                        </div>
                            <!-- End centered content -->
                            <!-- Begin right side content -->
                    </div>
                        <!-- End right side content -->
                        <!-- End collapsable content -->
                    </div>
                </nav>
                    <!-- End navbar -->
            </header>


                <!-- Begin content -->

            <div class="content" width="100%">

            @content

            </div>

                <!-- End content -->
</div>
                <!-- Begin footer -->
            <footer class="my-footer bg-gray px-3 py-4 mt-4">
                <div class="container-fluid">
                    <div class="row row-cols-md-3">
                        <div class="col-md-4 col-xs-12 d-flex align-items-center justify-content-md-start">
                            <span class="mb-3 mb-md-0 text-gray">
                                <b>© @year EventHub</b>
                            </span>
                        </div>
                        <div class="col-md-4 col-xs-12 d-flex align-items-center justify-content-md-center">
                            <ul class="nav list-unstyled d-flex">
                                <li>
                                    <a class="text-muted" href="#">
                                        <img src="@routes.Assets.at("images/footer/facebook.png")" alt="Facebook" width="30px">
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="text-muted" href="#">
                                        <img src="@routes.Assets.at("images/footer/twitter.png")" alt="Twitter" width="30px">
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="text-muted" href="#">
                                        <img src="@routes.Assets.at("images/footer/youtube.png")" alt="Youtube" width="30px">
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="text-muted" href="#">
                                        <img src="@routes.Assets.at("images/footer/instagram.png")" alt="Instagram" width="30px">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-xs-12 d-flex align-items-center mt-3 mt-md-0 justify-content-md-end text-gray">
                            <ul class="nav list-unstyled d-flex ">
                                <li>
                                    <a class="text-muted" href="#">
                                        Help
                                    </a>
                                </li>
                                <li class="ms-3">
                                    <a class="text-muted" href="#">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </footer>
                <!-- End footer -->

                <!-- Script to fix the navbar to top -->
            @*            <script>*@
            @*                    window.onscroll = function() {myFunction()};*@

            @*                    var header = document.getElementById("myHeader");*@
            @*                    var sticky = header.offsetTop;*@

            @*                    function myFunction() {*@
            @*                        if (window.pageYOffset > sticky) {*@
            @*                            header.classList.add("sticky");*@
            @*                        } else {*@
            @*                            header.classList.remove("sticky");*@
            @*                        }*@
            @*                    }*@
            @*           </script>*@

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        </body>
    </html>
}