@(request: play.mvc.Http.Request, categories: java.util.List[Category], venues: java.util.List[Venue], cities: java.util.List[String], minDate: java.time.LocalDate)
@base("Create Event", request)(Array("")){
    <div class="container pt-5">
        <h3 class="underline">Create event</h3>
        <br><br>
        <form method="post" action="@controllers.routes.EventController.createEvent()">
            @helper.CSRF.formField(request.asScala)
                <!-- Begin Title -->
            <div class="col-md-6 mb-3">
                <label for="title" class="form-label">Event title</label>
                <input name="title" class="form-control mb-2" id="title" type="text" placeholder="Be clear and descriptive.">
            </div>
                <!-- End Title -->

                <!-- Begin Category -->
            <div class="col-md-6 mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" name="category">
                    <option value="" selected disabled>Select a category</option>
                    @for(category <- categories){
                        <option value="@category.getName">@category.getName</option>
                    }
                </select>
            </div>
                <!-- End Category -->

                <!-- Begin Venue -->
            <div class="row">
                <label for="venue" class="form-label">Venue</label>
                <div class="col-md-6 mb-3">
                    <select class="form-select" name="venue">
                        <option value="" selected disabled>Select a venue</option>
                        @for(city <- cities){
                            <!-- Group Venues by City -->
                            <optgroup label="@city">
                            @for(venue <- venues){
                                @if(venue.getCity == city){
                                    <option value="@venue.getName">@venue.getName</option>
                                }
                            }
                            </optgroup>
                        }
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-outline-secondary" type="button" onclick="location.href='@controllers.routes.EventController.addVenue()'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </div>

            </div>

                <!-- End Venue -->

                <!-- Begin Start Date & Time -->
            <div class="row">
                    <!-- Begin Start Date -->
                <div class="col-md-6 mb-3">
                    <label for="startDate" class="form-label">Event starts on</label>
                    <input name="startDate" class="form-control mb-2" id="startDate" type="date" min="@minDate">
                </div>
                    <!-- End Start Date -->
                    <!-- Begin Start Time -->
                <div class="col-md-6 mb-3">
                    <label for="startTime" class="form-label">Start time</label>
                    <input name="startTime" class="form-control mb-2" id="startTime" type="time">
                </div>
                    <!-- End Start Time -->
            </div>
                <!-- End Start Date & Time -->

                <!-- Begin End Date & Time -->
            <div class="row">
                    <!-- Begin End Date -->
                <div class="col-md-6 mb-3">
                    <label for="endDate" class="form-label">Event ends on</label>
                    <input name="endDate" class="form-control mb-2" id="endDate" type="date" min="@minDate">
                </div>
                    <!-- End End Date -->
                    <!-- Begin End Time -->
                <div class="col-md-6 mb-3">
                    <label for="endTime" class="form-label">End time</label>
                    <input name="endTime" class="form-control mb-2" id="endTime" type="time">
                </div>
                    <!-- End End Time -->
            </div>
                <!-- End End Date & Time -->
            <div class="col">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control mb-2" id="description" type="text" rows="5" placeholder="Add more details to your event like your schedule, sponsors, or featured guests."></textarea>
            </div>

                <!-- Begin sections -->
            <h3 class="underline pt-5">Ticket info</h3>
            <br><br>
                <!-- Begin Name -->
            <div class="col-12 mb-3">
                <label for="sectionName" class="form-label">Section name</label>
                <input name="sectionName" class="form-control mb-2" id="sectionName" type="text" placeholder="E.g. General Admission or Front Row">
            </div>
                <!-- End Name -->
                <!-- Begin Section Description -->
            <div class="col-12 mb-3">
                <label for="sectionDescription" class="form-label">Description</label>
                <input name="sectionDescription" class="form-control mb-2" id="sectionDescription" type="text" placeholder="E.g. Includes 1 free drink">
            </div>
                <!-- End Section Description -->
                <!-- Begin Quantity & Price -->
            <div class="row">
                    <!-- Begin Quantity -->
                <div class="col-md-6 mb-3">
                    <label for="quantity" class="form-label">Available quantity</label>
                    <input name="quantity" class="form-control mb-2" id="quantity" type="text">
                </div>
                    <!-- End Quantity -->

                    <!-- Begin Price -->
                <div class="col-md-6 mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" class="form-control mb-2" id="price" type="number" placeholder="€0.00">
                </div>
                    <!-- End Price -->
            </div>
                <!-- End sections -->

            <button type="submit" class="button button-fill button-fill-red">Publish</button>
        </form>
    </div>

}