@base("Home")(Array("stylesheets/home.css")) {
    <img src="@routes.Assets.at("images/home/festival_.jpg")" width="100%">
    <div class="container-fluid m-5">
        <div class="row">
            <div class="col align-items-end">
                <h4>Browse by category</h4>
            </div>
            <div class="col align-items-end justify-content-md-end">
                <a href="#">
                    <p>More categories</p>
                </a>
            </div>
        </div>
    </div>
}