@(events: java.util.List[Event], request: play.mvc.Http.Request)
@base("Home", request)(Array("stylesheets/home.css")) {
    <!-- TODO Corrigir barra branca !!!!!! -->
    <img src="@routes.Assets.at("images/home/festival.jpg")" width="100%">
    ID = @request.session().get("id")<br>
    EMAIL = @request.session().get("email")<br>
    ROLE_ID = @request.session().get("role_id")
    <div class="container-fluid p-5">
        <div class="row mb-4">
            <div class="col-6 d-flex align-items-end">
                <h4>Browse by category</h4>
            </div>
            <div class="col-6 d-flex align-items-end justify-content-end text-end" >
                    <p><a href="#">More categories</a></p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-sm-3 image-container">
                <a href="#">
                    <img src="@routes.Assets.at("images/home/music.png")" width="100%" alt="Music">
                    <div class="text-block"><p>Music</p></div>
                </a>
            </div>
            <div class="col-sm-3 image-container">
                <a href="#">
                    <img src="@routes.Assets.at("images/home/sports.png")" width="100%" alt="Sports">
                    <div class="text-block"><p>Sports</p></div>
                </a>
            </div>
            <div class="col-sm-3 image-container">
                <a href="#">
                    <img src="@routes.Assets.at("images/home/arts_and_theater.png")" width="100%" alt="Arts and Theater">
                    <div class="text-block"><p>Arts & Theater</p></div>
                </a>
            </div>
            <div class="col-sm-3 image-container">
                <a href="#">
                    <img src="@routes.Assets.at("images/home/food_and_drinks.png")" width="100%" alt="Food and Drinks">
                    <div class="text-block"><p>Food & Drinks</p></div>
                </a>
            </div>

        </div>
    </div>
    <div class="container-fluid p-5">
        <div class="row mb-4">
            <div class="col">
                <h4>Popular events in Lisbon</h4>
            </div>
        </div>
        <!-- Begin vertical card gallery -->
        <div class="row row-col-lg-3 row-col-md-2 row-col-sm-1 g-3">
            @for(event <- events){
                <div class="col-md-4">
                    @templates.card_vertical(event)
                </div>
            }
        </div>
            <!-- End vertical card gallery -->
        <div class="text-center mt-5">
            <button type="button" class="button button-outline button-outline-blue">See more</button>
        </div>

    </div>
}