@(events: java.util.List[Event], categories: java.util.List[Category])
@base("Search")(Array("stylesheets/event.css")) {
    <div class="container pt-5">
            <!-- Begin search first row -->
        <div class="row align-items-center">
            <div class="col">
                <h3 class="underline">Search events</h3>
                <br><br>
            </div>
            @*            <div class="col">*@
            @*                <form>*@
            @*                    <input class="input-no-border" id="name" type="text" placeholder="Search events">*@
            @*                </form>*@
            @*            </div>*@
            @*            <div class="col">*@
            @*                <form>*@
            @*                    <input class="input-no-border" type="text" placeholder="Lisbon">*@
            @*                </form>*@
            @*            </div>*@
        </div>
            <!-- End search first row -->
        <div class="row">
                <!-- Begin search sidebar -->
            <div class="col-2">
                @search_bar(categories)
            </div>
                <!-- End search sidebar -->
            <div class="col-10">
            @if(!events.isEmpty){
                @for(event <- events) {
                    <div class="d-flex justify-content-center">
                    @templates.card_horizontal_small(event)
                    </div>
                }
            } else {
                <p class="d-flex justify-content-center">There were no results found matching your criteria</p>
            }
        </div>
            <!-- End search side bar -->
    </div>

}