@(categories: java.util.List[Category])
<!-- Begin search sidebar -->
<form method="get" action="@controllers.routes.EventController.filter()">
    <h6>Event</h6>
    <input name="title" type="text">
    <h6>Location</h6>
    <input name="location" type="text">
    <h6>Date</h6>
    <p class="me-1 ms-2">Between</p>
    <input class="ms-2" type="date" name="dateBetween">
    <p class="me-1 ms-2">And</p>
    <input class="ms-2 mb-1" type="date" name="dateAnd">
    <h6>Price</h6>
    <div class="container d-flex">
        <p class="me-1">From</p>
        <input type="text" style="width: 45px;">
        <p class="mx-1">To</p>
        <input type="text" style="width: 45px;">
    </div>
    <h6>Category</h6>
    <select name="category">
        <option value="" selected>Any</option>
        @for(category <- categories){
            <option value="@category.getName">@category.getName</option>
        }
    </select>
    <h6>Company</h6>
    <input name="company" type="text">
    <hr>
    <button type="submit" class="button button-fill button-fill-red">Filter</button>
    @*        <button type="button" class="button button-outline button-outline-red">Reset</button>*@
</form>
    <!-- End search sidebar -->