@(request: play.mvc.Http.Request, userRoles: java.util.List[UserRole])
@base("Switch Profile", request)(Array("")){
    <div class="container p-5">
        <h3 class="underline mb-4">Switch profile</h3>
        <div class="mb-4">
        <h6>Select a profile</h6>
        @for(userRole <- userRoles){
            <form method="post" action="@controllers.routes.AuthenticationController.switchProfileProcess(userRole.getRole.getId)">
                @helper.CSRF.formField(request.asScala)
                <div class="d-flex w-25 mb-1">
                    <button type="submit" class="button button-outline button-outline-blue w-100">@userRole.getRole.getName</button>
                </div>
            </form>
        }
        </div>
        <div class="mb-4">
            <h6>Add a new profile</h6>
                        <form method="post" action="@controllers.routes.RoleController.addRoleParticipant()">
                @helper.CSRF.formField(request.asScala)
                <button type="submit" class="button-no-button">Participant</button>
            </form>
            <form method="post" action="@controllers.routes.RoleController.addRoleManager()">
                @helper.CSRF.formField(request.asScala)
                <button type="submit" class="button-no-button">Manager</button>
            </form>
            <form method="post" action="@controllers.routes.RoleController.addRoleAdmin()">
                @helper.CSRF.formField(request.asScala)
                <button type="submit" class="button-no-button">Admin</button>
            </form>

        </div>


    </div>


}