@(pendingUsers: java.util.List[User], users: java.util.List[User], request: play.mvc.Http.Request)
@base("User List", request)(Array("")){
    <div class="container pt-5">
        <h3 class="underline">User List</h3>
        <!-- Begin Pending Approval table -->
        <div class="container mt-5">
            <h6 class="mb-4">Pending approval</h6>
        <div class="row pb-2">
            <div class="col-4"><b>Email</b></div>
            <div class="col-3"><b>Name</b></div>
            <div class="col-2"><b>Role</b></div>
            <div class="col-2"><b>Status</b></div>
            <div class="col-1"><b>Action</b></div>
        </div>
        @for(user <- pendingUsers) {
            <div class="row pb-1">
                <div class="col-4">@user.getEmail</div>
                <div class="col-3">@user.getFirstName @user.getLastName</div>
                <div class="col-2">???</div>
                <div class="col-2">@user.getStatus</div>
                <div class="col-1">
                    <div class="row">
                        @templates.approve(request, user)
                        @templates.reject(request, user)
                    </div>
                </div>
            </div>
        }
        </div>
        <!-- End Pending Approval table -->
        <!-- Begin All Users table -->
        <div class="container mt-5">
            <h6 class="mb-4">All users</h6>
            <div class="row pb-2">
                <div class="col-4"><b>Email</b></div>
                <div class="col-3"><b>Name</b></div>
                <div class="col-2"><b>Role</b></div>
                <div class="col-2"><b>Status</b></div>
                <div class="col-1"><b>Action</b></div>
            </div>
            @for(user <- users) {
                <div class="row pb-1">
                    <div class="col-4">@user.getEmail</div>
                    <div class="col-3">@user.getFirstName @user.getLastName</div>
                    <div class="col-2">???</div>
                    <div class="col-2">@user.getStatus</div>
                    <div class="col-1">
                        <div class="row">
                            @if(user.getStatus.equals(Status.Pending)) {
                                @templates.approve(request, user)
                                @templates.reject(request, user)
                            } else {
                                @if(user.getStatus.equals(Status.Approved)) {
                                    <div class="col-1"></div> <!-- This div makes sure the reject button always shows on the right side -->
                                    @templates.reject(request, user)
                                } else {
                                    @templates.approve(request, user)
                                    <div class="col-1"></div> <!-- This div makes sure the approve button always shows on the left side -->
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
            <!-- End All Users table -->
    </div>

}